@model List<AkriStat.Models.MatchTeamStats>

@if (Model != null && Model.Count > 0)
{
    <table id="matchesTable" class="table table-sm table-hover table-dt-default">
        <thead>
            <tr style="display:none">
                <th width="45%">Home</th>
                <th width="10%">Result</th>
                <th width="45%">Away</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Model)
            {
                string teamOneCrest = $"/dist/img/club_crests/{match.TeamOneID}.svg";
                string teamTwoCrest = $"/dist/img/club_crests/{match.TeamTwoID}.svg";
                <tr style="cursor:pointer" onclick="window.location.href = '/Matches/@match.MatchID'">
                    <td>
                        <a asp-controller="Team" asp-action="Details" asp-route-id="@match.TeamOneID">
                            <img style="height:1.5rem" alt="Avatar" src="@teamOneCrest">
                        </a>
                    </td>
                    <td>
                        @match.TeamOneGoals - @match.TeamTwoGoals
                    </td>
                    <td>
                        <a asp-controller="Team" asp-action="Details" asp-route-id="@match.TeamTwoID">
                            <img style="height:1.5rem" alt="Avatar" src="@teamTwoCrest">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-12 text-black-50" style="text-align:center">
            No matches on this date.
        </div>
    </div>
}