@model AkriStat.ViewModels.Player.Summary.SummaryFullBackVM

<figure class="highcharts-figure">
    <div id="fullBackRadarChart"></div>
</figure>

<script>
    Highcharts.chart('fullBackRadarChart', {

        chart: {
            credits: false,
            polar: true,
            type: 'area',
            marginTop: 85
        },

        credits: {
            enabled: false
        },

        title: {
            text: 'Season Summary @Model.Season'
        },

        pane: {
            size: '100%'
        },

        xAxis: {
            categories: ['xA /90', 'Pass Final 3rd /90', 'Yards Carried /90', 'Passes Cmp %',
                         'Succ Drbls /90', 'Succ Drbls %', 'Succ Press /90', 'Intercept /90',
                         'Tckls Won /90', 'Dribblers Tackled %', 'Aerial Won %'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0,
            max: 100
        },

        plotOptions: {
            column: {
                pointPadding: 0,
                groupPadding: 0
            },
            series: {
                lineWidth: 1,
                dataLabels: {
                    enabled: true,
                    format: '{point.actual}'
                }
            }
        },

        exporting: {
            buttons: {
                contextButton: {
                    menuItems: [
                        'printChart',
                        'separator',
                        'downloadPNG',
                        'downloadJPEG',
                        'downloadPDF',
                        'downloadSVG'
                    ]
                }
            }
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:#000000">Percentile: <b>{point.y}</b><br/> <span style="color:#000000">Actual: <b>{point.actual}</b>'
        },

        legend: {
            enabled: false
        },

        series: [{
            name: '@Model.Season',
            data: [
                    { y: @Html.DisplayFor(x => x.XgassistedPer90Percentile), actual: @Html.DisplayFor(x => x.XgassistedPer90) },
                    { y: @Html.DisplayFor(x => x.PassesIntoFinalThirdPer90Percentile), actual: @Html.DisplayFor(x => x.PassesIntoFinalThirdPer90) },
                    { y: @Html.DisplayFor(x => x.YardsProgressiveCarriesPer90Percentile), actual: @Html.DisplayFor(x => x.YardsProgressiveCarriesPer90) },
                    { y: @Html.DisplayFor(x => x.PassesCompletedPercentagePercentile), actual: '@Html.DisplayFor(x => x.PassesCompletedPercentage)%' },
                    { y: @Html.DisplayFor(x => x.SuccessfulDribblesPer90Percentile), actual: @Html.DisplayFor(x => x.SuccessfulDribblesPer90) },
                    { y: @Html.DisplayFor(x => x.SuccessfulDribblesPercentagePercentile), actual: '@Html.DisplayFor(x => x.SuccessfulDribblesPercentage)%' },
                    { y: @Html.DisplayFor(x => x.SuccessfulPressuresPer90Percentile), actual: @Html.DisplayFor(x => x.SuccessfulPressuresPer90) },
                    { y: @Html.DisplayFor(x => x.InterceptionsPer90Percentile),  actual: @Html.DisplayFor(x => x.InterceptionsPer90) },
                    { y: @Html.DisplayFor(x => x.TacklesWonPer90Percentile),  actual: @Html.DisplayFor(x => x.TacklesWonPer90) },
                    { y: @Html.DisplayFor(x => x.DribblersTackledPercentagePercentile),  actual: '@Html.DisplayFor(x => x.DribblersTackledPercentage)%' },
                    { y: @Html.DisplayFor(x => x.AerialDualsWonPercentagePercentile),  actual: '@Html.DisplayFor(x => x.AerialDualsWonPercentage)%' }
                  ],
            pointPlacement: 'on',
            color: '#E77E23',
            opacity: 0.85
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        layout: 'horizontal'
                    },
                    pane: {
                        size: '80%'
                    }
                }
            }]
        }

    });
</script>