@model List<AkriStat.ViewModels.Shortlist.ShortlistIndexVM>
<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

<div class="form-center-lg">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center"><b>Deleted Shortlists</b></h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm table-hover" id="tblShortlists" style="width:100%; text-align:center">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th width="1%">Players</th>
                                <th width="10%">Deleted</th>
                                <th width="20%"></th>
                                <th width="20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var shortlist in Model)
                            {
                                <tr>
                                    <td>@shortlist.Name</td>
                                    <td>@shortlist.PlayerCount</td>
                                    <td>@Html.DisplayFor(x => shortlist.LastUpdatedDate)</td>
                                    <td><a asp-action="UpdateShortlist" asp-route-shortlistAction="recover" asp-route-id="@shortlist.ID">Recover</a></td>
                                    <td><a asp-action="UpdateShortlist" asp-route-shortlistAction="delete" asp-route-id="@shortlist.ID">Delete Permanently</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script>
    setBackButton('Account Menu', '/Account');
</script>

@if (ViewBag.MessageToDisplay != null)
{
    <script>
        toastr.success('@ViewBag.MessageToDisplay');
    </script>
}

<script>
    $(document).ready(function () {
        $('#tblShortlists').DataTable({
            language: {
                emptyTable: "You have no Shortlists to recover"
            },
            dom: 'Bfrtip',
            order: [[0, "asc"]],
            lengthChange: true,
            searching: true,
            ordering: false,
            info: false,
            autoWidth: true,
            responsive: true
        });
    });
</script>